<main th:fragment="mainP">
    <section class="contenedor-proyectos">

        <article class="proyecto">
            <iframe width="690" height="390" alt="Video de Google Sites explicando cómo crear un sitio" src="https://www.youtube.com/embed/bT5x5Q40RYc" title="GSites#01 ¿Qué es Google Sites?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h2 class="titulo-proyecto">Vix Fest</h2>
            <p class="descripcion-proyecto">Página simple hecha en Google Sites que hice durante el grado medio.</p>
            <a href="https://sites.google.com/view/vixfest?usp=sharing" class="boton-proyecto" title="Ir al proyecto Vix Fest">Ir al proyecto</a>
        </article>

        <article class="proyecto">
            <div class="carrusel-imagenes" id="carrusel">
                <img src="/imagenes/proyecto2.jpg" alt="Imagen de la página de Cowboy Bebop - vista 1" class="imagen-carrusel">
                <img src="/imagenes/proyecto2-2.jpg" alt="Imagen de la página de Cowboy Bebop - vista 2" class="imagen-carrusel">
                <img src="/imagenes/proyecto2-3.jpg" alt="Imagen de la página de Cowboy Bebop - vista 3" class="imagen-carrusel">
            </div>
            <h2 class="titulo-proyecto">Página sobre Cowboy Bebop</h2>
            <p class="descripcion-proyecto">Página simple que hice en Google Sites durante el grado medio.</p>
            <a href="https://sites.google.com/view/bebopsmr1?usp=sharing" class="boton-proyecto" title="Ir al proyecto Cowboy Bebop">Ir al proyecto</a>
        </article>
        
    </section>
</main>