<header class="bg-custom">
    <div class="container-fluid text-center py-20">
        <h1 class="text-white m-0 py-3 border-radi">¿Quién soy?</h1>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <button id="hamburguesa" class="hamburguesa d-lg-none text-white border-0 bg-transparent">
            &#9776;
        </button>
        <nav id="menu" class="d-none d-lg-flex justify-content-center w-100">
            <ul class="list-unstyled d-flex w-100 justify-content-center mb-0">
                <li><a href="/" class="nav-link">¿Quién soy?</a></li>
                <li><a href="/habilidad" class="nav-link">Habilidades</a></li>
                <li><a href="/proyectos" class="nav-link">Proyectos</a></li>
                <li><a href="/contacto" class="nav-link">Contacto</a></li>
            </ul>
        </nav>
    </div>
</header>
