    <header class="bg-custom">
        <div class="text-center py-20">
            <h1 class="text-white m-0 py-3 border-radi" th:text="${titulo}">¿Quién soy?</h1>
        </div>
        
        <!-- Menú para pantallas grandes (PC) -->
        <div class="d-flex justify-content-center align-items-center">
            <nav id="menu" class="d-none d-lg-flex justify-content-center w-100">
                <ul class="list-unstyled d-flex w-100 justify-content-center mb-0">
                    <li><a href="/" class="nav-link">¿Quién soy?</a></li>
                    <li><a href="/habilidad" class="nav-link">Habilidades</a></li>
                    <li><a href="/proyectos" class="nav-link">Proyectos</a></li>
                    <li><a href="/contacto" class="nav-link">Contacto</a></li>
                </ul>
            </nav>
        </div>

        <!-- Menú para pantallas pequeñas (móviles) -->
        <nav class="navbar bg-body-tertiary d-lg-none">
            <div class="container-fluid">
                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent3" aria-controls="navbarToggleExternalContent3" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
        </nav>

        <div class="collapse" id="navbarToggleExternalContent3">
            <div class="bg-body-tertiary shadow-3 p-4">
                <li><a href="/index" class="nav-link">¿Quién soy?</a></li>
                <li><a href="/habilidad" class="nav-link">Habilidades</a></li>
                <li><a href="/proyectos" class="nav-link">Proyectos</a></li>
                <li><a href="/contacto" class="nav-link">Contacto</a></li>
            </div>
        </div>
    </header>
