html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}


body {
    background-color: #262227;
    background-image: url(../imagenes/fondo.jpg);
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: opacity 1.5s ease;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
body {
    background-color: #262227;
    background-image: url(../imagenes/fondo.jpg);
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: opacity 1.5s ease;
}


#botondescargarcurriculum .bg-custom{
    background-color: #6f5f6f;
}
#botondescargarcurriculum {
    background-color: #6f5f6f;
    color: white;
}

#botondescargarcurriculum:hover {
    background-color: #2e2b33;
    color: white;
    transform: scale(1.2);
}

#empresas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    width: 100%;
}

#prysboton {
    background-color: #6f5f6f;
    color: white;
    padding: 20px 40px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    display: inline-block;
    text-align: center;
}

#prysboton:hover {
    background-color: #2e2b33;
    color: white;
    transform: scale(1.3);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    flex-direction: row-reverse;
}

#descripcion {
    display: block;
    max-width: 600px;
    font-size: 20px;
    text-align: justify;
    padding: 20px;
    margin-left: 20px;
}

#asideimagen {
    display: flex;
    justify-content: center;
    align-items: center;
}

#asideimagen img {
    display: block;
    max-width: 80%;
    height: auto;
    margin-bottom: 0;
}

#volverarriba {
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#volverarriba a {
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
}

#volverarriba p {
    font-size: 16px;
    color: white;
    margin: 10px;
    cursor: pointer;
    font-weight: bold;
}

#volverarriba img {
    width: 30px;
    height: auto;
    transition: transform 0.3s ease;
}

#volverarriba img:hover {
    transform: scale(1.1);
}


#mapa-container {
    background-color: black ;
    max-height: 0;
    overflow: hidden;
    width: fit-content;
    display: block;
    margin-top: 10px;
    transition: max-height 0.3s ease-in-out;
}

#prysboton:hover + #mapa-container {
    max-height: 200px;
}

@media screen and (max-width: 480px) {

    nav a:hover {
        background-color: #6f5f6f;
        color: white;
    }
    h1 {
        font-size: 1000px;
        padding: 20px;
    }
}
@media screen and (max-width: 768px) {
    body {
        background-image: url(../imagenes/fondo.jpg);
        background-size: cover;
        padding: 0;
    }

    h1 {
        size: 200PX;
        font-size: 100px;
        padding: 20px;
    }

    header {
        text-align: center;
    }

    section {
        flex-direction: column;
        align-items: center;
    }

    #descripcion {
        font-size: 18px;
        padding: 15px;
        margin-left: 0;
    }

    #botondescargarcurriculum, #prysboton {
        width: 100%;
        padding: 15px;
        font-size: 16px;
    }

    footer {
        width: 100%;
        font-size: 12px;
        padding: 0px;
    }

    footer img {
        width: 20px;
    }

    #volverarriba {
        display: flex;
    }

    #volverarriba a {
        display: inline-block;
        text-align: center;
        margin-bottom: 10px;
    }

    #volverarriba p {
        font-size: 16px;
        color: white;
        margin: 10px;
        cursor: pointer;
        font-weight: bold;
    }

    #volverarriba img {
        width: 30px;
        transition: transform 0.3s ease;
    }

    #volverarriba img:hover {
        transform: scale(1.1);
    }   
}
