<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habilidades</title>
    <link href="archivos css/styleshabilidades.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div th:replace="~{components/global/header :: header}"></div>

    <main>
        <h2 id="tle">Lenguajes aprendidos</h2>
        <section id="aprendidas">
            <img src="imagenes/htmllogo.png" data-description="HTML es un lenguaje usado para la creacion de paginas web" alt="Logotipo de HTML, lenguaje de marcado para páginas web" id="logohtml" loading="lazy">
            <img src="imagenes/csslogo.png" data-description="Logotipo de CSS, lenguaje de estilos para páginas web" alt="Logotipo de CSS, lenguaje de estilos para páginas web" id="logocss" loading="lazy">
        </section>

        <h2 id="tle">Lenguajes en aprendizaje</h2>
        <section id="en-aprendizaje">
            <img src="imagenes/javalogo.png" data-description="Java es un lenguaje de programación versátil y usado en múltiples plataformas." alt="Logotipo de Java, lenguaje de programación" id="logojava" loading="lazy">
            <img src="imagenes/mysqllogo.png" data-description= "MySQL es un SGBD relacional."alt="Logotipo de MySQL, sistema de gestión de bases de datos" id="logomysql" loading="lazy">
        </section>
        
        <section id="idiomas">
            <h2>Idiomas</h2>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Idioma</th>
                        <th scope="col">Nivel</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Español</td>
                        <td>Nativo</td>
                    </tr>
                    <tr>
                        <td>Inglés</td>
                        <td>Intermedio</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>

    <div th:replace="~{components/global/footer :: footer}"></div>
    
    <script src="javascript/ScriptHabilidad.js"></script>
</body>
</html>
