<main th:fragment="mainH" class="container my-5">
    <h2 class="text-white text-start">Lenguajes aprendidos</h2>

    <section id="aprendidas" class="d-flex justify-content-start gap-3 flex-wrap">
        <img src="imagenes/htmllogo.png" data-description="HTML es un lenguaje usado para la creación de páginas web"
            alt="Logotipo de HTML, lenguaje de marcado para páginas web"
            class="rounded p-2"id="logohtml">

        <img src="imagenes/csslogo.png" data-description="CSS es un lenguaje de estilos para páginas web"
            alt="Logotipo de CSS, lenguaje de estilos para páginas web"
            class="rounded p-2"
            id="logocss">
    </section>

    <h2 class="text-white text-start mt-4">Lenguajes en aprendizaje</h2>
    <section id="en-aprendizaje" class="d-flex justify-content-start">
        <img src="imagenes/javalogo.png" data-description="Java es un lenguaje de programación versátil y usado en múltiples plataformas."
            alt="Logotipo de Java, lenguaje de programación"
            class="rounded  p-2" id="logojava">
        <img src="imagenes/mysqllogo.png" data-description="MySQL es un SGBD relacional."
            alt="Logotipo de MySQL, sistema de gestión de bases de datos"
            class="rounded p-2" id="logomysql">
    </section>

    <section id="idiomas" class="mt-5 container-fluid">
        <h2 class="text-white text-start">Idiomas</h2>
            <table class="table table-dark table-hover w-100">
                <thead>
                    <tr>
                        <th scope="col">Idioma</th>
                        <th scope="col">Nivel</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Español</td>
                        <td>Nativo</td>
                    </tr>
                    <tr>
                        <td>Inglés</td>
                        <td>Intermedio</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>
